.header
{
	color: rgb(235, 0, 0);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px; margin-left:40px;
}

#logout
	{
		font-size: 20px; float: right;
		margin-right: 100px;
		margin-bottom:100px;
	}

	body{
		background-color:black;
	}

	h3 {
		color:white;
	}

	#add_room_label{
		color:white;
	}

	#room_name{
		width:50%
	}

#output{
	color:white;
}


